<!-- <form #formData = "ngForm" (ngSubmit)= "update(formData)">
    <div ngModelGroup = "login">

        <div>
            <label for="">Username </label> 
            <input
            type = "text"
            name = "username"
            ngModel
            required
            >
            <div *ngIf = "formData?.controls.login.controls.username.invalid && formData.controls.login.controls.username.touched">
                <p [style.color] = "formData.controls.login.controls.username.invalid ? 'red': 'black' ">this is a mandatory field</p>
            </div>
            <ul>
                <li> valid status {{ formData?.controls.login.controls.username.valid }}</li>
                <li> invalid status {{ formData?.controls.login.controls.username.invalid }}</li>
                <li> Touched status {{ formData?.controls.login.controls.username.touched }}</li>
                <li> Untouched status {{ formData?.controls.login.controls.username.untouched }}</li>
                <li> Dirty status {{ formData?.controls.login.controls.username.dirty }}</li>
                <li> Pristine status {{ formData?.controls.login.controls.username.pristine }}</li>
                
            </ul>  
        </div>
        <div>
            <label for="">Password </label> 
            <input
            type = "text"
            name = "password"
            #pwd = "ngModel"
            ngModel
            required
            minlength="4"
            >
            <div *ngIf = "formData.controls.login.controls.password.invalid && formData.controls.login.controls.username.touched">
                <p [style.color] = "formData.controls.login.controls.password.invalid ? 'red': 'black' ">this is a mandatory field</p>
            </div>
            <ul>
                <li> min length did not match - {{ pwd.errors?.minlength ? true: false }}</li>
                <li> valid status {{ formData.controls.login.controls.password.valid }}</li>
                <li> invalid status {{ formData.controls.login.controls.password.invalid }}</li>
                <li> Touched status {{ formData.controls.login.controls.password.touched }}</li>
                <li> Untouched status {{ formData.controls.login.controls.password.untouched }}</li>
                <li> Dirty status {{ formData.controls.login.controls.password.dirty }}</li>
                <li> Pristine status {{ formData.controls.login.controls.password.pristine }}</li>
                
            </ul>  
        </div>
    </div>
    <button>submit</button>
</form> -->