
<!-- <app-templatedrivenform></app-templatedrivenform> -->

<app-custorders [appTitle] = "title" (sendInfo) = "shareData($event)"></app-custorders>

<!-- <h2 *ngIf = "false">Welcome to {{ title }}</h2> -->
<p [style.color] = "color == 'red' ? 'blue': 'green' ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, ducimus. Officia, voluptas adipisci! Esse molestias soluta, doloremque sunt libero dolore nostrum ratione. Natus soluta alias voluptatem, quo eveniet sed quis?</p>

<input type="text" (keyup) = "update($event.target)" placeholder="first">
<input type="text" #titleUpdate (keyup.enter) = "update(titleUpdate.value)" placeholder="second">

<input type="text" #cont [(ngModel)] = "title">
<img [src]="srcVal" alt= "mars image">
<ul *ngFor = "let item of countries">
    <li>{{ item }}</li>
</ul>
<p choice > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam nobis unde facere animi porro repellat aspernatur, optio ipsam fugit minus soluta voluptatem sapiente illo, quos sit, tempore doloribus itaque veritatis?</p>
<p choice>data content </p>